*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
local.properties
secrets.properties
keystore.properties
app/google-services.json
crypto-graph-keystore.jks